html{
	background:
	url(images/tub.jpg) no-repeat fixed 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms--o-background-size: cover;
	background-size: cover;
	background-color:#8d5f30;
}

html, 
body {
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, .9);
	font-family: futura, helvetica, sans-serif;
	font-size: 14px;
}

img, iframe, object {max-width: 100%;}


a, a:visited  {
	color: #999;
	text-decoration: none;
}

p {
	margin-left:17px;
}

ul li {
	margin:0;
	list-style-type:none;
}

#section {
	width: 980px;
	margin: 0 auto;
}

#header {
	padding:5px 10px;
}

h1 {
	font-family: futura, helvetica, sans-serif;
	margin:0;
	padding-left:15px;
	text-align:right;
	color: rgba(255, 255, 255, 0.5);
	-webkit-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-o-text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

h1:hover {
-webkit-transform: skew(-100deg);
-moz-transform: skew(-100deg);
-o-transform: skew(-100deg);
-ms-transform: skew(-100deg);
transform: skew(-100deg);
}

h2 {
	margin: 15px 0 0 32px;
	font-size:16px;
}

h3 {
	margin-left:15px;
}

#nav {
	padding: 10px 10px 10px 0;
}

#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#nav li {
	display:inline;
	padding: 0;
}

#nav li a {
	font-size: 16px;
	font-family: futura, helvetica, sans-serif;
	padding: 5px 15px;
	text-decoration: none;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#nav li a:hover,
#nav li a:focus {
	color:#fff;
	background: rgba(255, 255, 255, 0.5);
}

#article {
	float:left;
	width:550px;
	background:#fff;
	opacity:0.9; 
	filter:alpha(opacity=90);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#article a:hover {text-decoration:underline;}

#soundcloud {
	float:right;
	width:420px;
	margin-left:10px;
	height:245px;
}

#twitter {
	background:#fff;
	opacity: 0.9;
	filter:alpha(opacity=90);
	float:right;
	width:420px;
	margin: 10px 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#social {
	float:right;
	width:420px;
	margin: 10px 0 0 10px;
}

.tumblr_title {font-weight:bold; font-size:18px; padding:2px 0 0 0; color:#555; text-shadow: 0 1px 1px rgba(0, 0, 0, 1); font-family: futura, helvetica, sans-serif;}
.tumblr_posts {padding: 15px;}
.tumblr_body {padding: 0 15px 20px 0; margin-left:17px;}
.tumblr_body a {padding-left: 0; padding-bottom:7px; display:inline;}
.tumblr_body p {padding-top: 5px; margin:0;}
.tumblr_caption a {padding: 0; display:inline;}
.tumblr_video {padding: 0; margin-left:17px;}
.tumblr_audio_player {padding-bottom: 0; padding-left: 0;}
.audio_player {background:#999; width:210px; height:26px; padding:10px;}
ol.tumblr_posts {margin: 0; padding-top:25px;}
ol.tumblr_posts li {margin-bottom:15px; border-bottom: 1px solid #D4D4D4; list-style-type: none;}
.tumblr_description {padding: 5px 0 20px 0;}
.tumblr_photo_post {margin-left:17px;}

#footer {
	font-size:7px;
	clear:both;
	padding:5px 10px;
	float:right;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

* html #footer {
	height:1px;
}